<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.dal.dao.CommunityMapper" >
  <resultMap id="BaseResultMap" type="com.simon.dal.model.Community" >
    <id column="community_id" property="communityId" jdbcType="VARCHAR" />
    <result column="community_no" property="communityNo" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="community_loc_x" property="communityLocX" jdbcType="DECIMAL" />
    <result column="community_loc_y" property="communityLocY" jdbcType="DECIMAL" />
    <result column="community_address" property="communityAddress" jdbcType="VARCHAR" />
    <result column="community_address_direction_first_tips" property="communityAddressDirectionFirstTips" jdbcType="VARCHAR" />
    <result column="community_address_direction_first_value" property="communityAddressDirectionFirstValue" jdbcType="VARCHAR" />
    <result column="community_address_direction_second_tips" property="communityAddressDirectionSecondTips" jdbcType="VARCHAR" />
    <result column="community_address_direction_second_value" property="communityAddressDirectionSecondValue" jdbcType="VARCHAR" />
    <result column="community_address_direction_third_tips" property="communityAddressDirectionThirdTips" jdbcType="VARCHAR" />
    <result column="community_address_direction_third_value" property="communityAddressDirectionThirdValue" jdbcType="VARCHAR" />
    <result column="community_address_direction_fourth_tips" property="communityAddressDirectionFourthTips" jdbcType="VARCHAR" />
    <result column="community_address_direction_fourth_value" property="communityAddressDirectionFourthValue" jdbcType="VARCHAR" />
    <result column="community_area" property="communityArea" jdbcType="DECIMAL" />
    <result column="community_cover_area" property="communityCoverArea" jdbcType="DECIMAL" />
    <result column="community_no_cover_area" property="communityNoCoverArea" jdbcType="DECIMAL" />
    <result column="community_vertical_area" property="communityVerticalArea" jdbcType="DECIMAL" />
    <result column="community_shops_area" property="communityShopsArea" jdbcType="DECIMAL" />
    <result column="community_house_area" property="communityHouseArea" jdbcType="DECIMAL" />
    <result column="community_building_area" property="communityBuildingArea" jdbcType="DECIMAL" />
    <result column="community_road_area" property="communityRoadArea" jdbcType="DECIMAL" />
    <result column="community_greenarea" property="communityGreenarea" jdbcType="DECIMAL" />
    <result column="community_common_area" property="communityCommonArea" jdbcType="DECIMAL" />
    <result column="community_garage_area" property="communityGarageArea" jdbcType="DECIMAL" />
    <result column="community_garage_count" property="communityGarageCount" jdbcType="INTEGER" />
    <result column="community_room_count" property="communityRoomCount" jdbcType="INTEGER" />
    <result column="community_shops_count" property="communityShopsCount" jdbcType="INTEGER" />
    <result column="community_management_type" property="communityManagementType" jdbcType="TINYINT" />
    <result column="community_contacts" property="communityContacts" jdbcType="VARCHAR" />
    <result column="community_contacts_phone" property="communityContactsPhone" jdbcType="VARCHAR" />
    <result column="community_remark" property="communityRemark" jdbcType="VARCHAR" />
    <result column="community_deleted" property="communityDeleted" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <collection property="commonPdf" ofType="string" javaType="java.util.List" select="selectPdf" column="community_id">
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    community_id, community_no, community_name, community_loc_x, community_loc_y, community_address,
    community_address_direction_first_tips,community_address_direction_first_value,community_address_direction_second_tips,community_address_direction_second_value,community_address_direction_third_tips,community_address_direction_third_value,community_address_direction_fourth_tips,community_address_direction_fourth_value,
    community_area,community_cover_area,community_no_cover_area,community_vertical_area,community_shops_area,community_house_area, community_building_area, community_road_area, community_greenarea,
    community_common_area, community_garage_area, community_garage_count, community_room_count,community_shops_count,
    community_management_type, community_contacts, community_contacts_phone, community_remark,
    community_deleted, create_time, update_time
  </sql>
  <select id="selectPdf" parameterType="string" resultType="string" >
    select
    enclosure_url as url
    from enclosure
    where object_id=#{communityId} and enclosure_object_type=0
</select>

  <select id="findId" resultType="java.lang.String">
  	select
  		group_concat(community_id,'') AS communityId
  	from
  		community
  </select>
  <select id="findName" parameterType="java.lang.String" resultType="java.lang.String">
  	select 
  		community_name 
  	from community 
  	where community_id = #{communityId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from community
    where community_id = #{communityId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from community
    where community_id = #{communityId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simon.dal.model.Community" >
    insert into community (community_id, community_no, community_name, 
      community_loc_x, community_loc_y, community_address,
      community_address_direction_first_tips, community_address_direction_first_value,community_address_direction_second_tips, community_address_direction_second_value,community_address_direction_third_tips, community_address_direction_third_value,community_address_direction_fourth_tips, community_address_direction_fourth_value,
      community_area,community_cover_area,community_no_cover_area,community_vertical_area,community_shops_area,community_house_area, community_building_area, community_road_area,
      community_greenarea, community_common_area,
      community_garage_area, community_garage_count,
      community_room_count,community_shops_count, community_management_type,
      community_contacts, community_contacts_phone,
      community_remark, community_deleted, create_time,
      update_time)
    values (#{communityId,jdbcType=VARCHAR}, #{communityNo,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR},
      #{communityLocX,jdbcType=DECIMAL}, #{communityLocY,jdbcType=DECIMAL}, #{communityAddress,jdbcType=VARCHAR},
      #{communityAddressDirectionFirstTips,jdbcType=VARCHAR},#{communityAddressDirectionFirstValue,jdbcType=VARCHAR},
      #{communityAddressDirectionSecondTips,jdbcType=VARCHAR},#{communityAddressDirectionSecondValue,jdbcType=VARCHAR},
      #{communityAddressDirectionThirdTips,jdbcType=VARCHAR},#{communityAddressDirectionThirdValue,jdbcType=VARCHAR},
      #{communityAddressDirectionFourthTips,jdbcType=VARCHAR},#{communityAddressDirectionFourthValue,jdbcType=VARCHAR},
      #{communityArea,jdbcType=DECIMAL},#{communityCoverArea,jdbcType=DECIMAL},#{communityNoCoverArea,jdbcType=DECIMAL},#{communityVerticalArea,jdbcType=DECIMAL},#{communityShopsArea,jdbcType=DECIMAL},#{communityHouseArea,jdbcType=DECIMAL}, #{communityBuildingArea,jdbcType=DECIMAL}, #{communityRoadArea,jdbcType=DECIMAL},
      #{communityGreenarea,jdbcType=DECIMAL}, #{communityCommonArea,jdbcType=DECIMAL},
      #{communityGarageArea,jdbcType=DECIMAL}, #{communityGarageCount,jdbcType=INTEGER},
      #{communityRoomCount,jdbcType=INTEGER},#{communityShopsCount,jdbcType=INTEGER}, #{communityManagementType,jdbcType=TINYINT},
      #{communityContacts,jdbcType=VARCHAR}, #{communityContactsPhone,jdbcType=VARCHAR},
      #{communityRemark,jdbcType=VARCHAR}, #{communityDeleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.simon.dal.model.Community" >
    insert into community
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="communityNo != null" >
        community_no,
      </if>
      <if test="communityName != null" >
        community_name,
      </if>
      <if test="communityLocX != null" >
        community_loc_x,
      </if>
      <if test="communityLocY != null" >
        community_loc_y,
      </if>
      <if test="communityAddress != null" >
        community_address,
      </if>
      <if test="communityAddressDirectionFirstTips != null" >
        community_address_direction_first_tips,
      </if>
      <if test="communityAddressDirectionFirstValue != null" >
        community_address_direction_first_value,
      </if>
      <if test="communityAddressDirectionSecondTips != null" >
        community_address_direction_second_tips,
      </if>
      <if test="communityAddressDirectionSecondValue != null" >
        community_address_direction_second_value,
      </if>
      <if test="communityAddressDirectionThirdTips != null" >
        community_address_direction_third_tips,
      </if>
      <if test="communityAddressDirectionThirdValue != null" >
        community_address_direction_third_value,
      </if>
      <if test="communityAddressDirectionFourthTips != null" >
        community_address_direction_fourth_tips,
      </if>
      <if test="communityAddressDirectionFourthValue != null" >
        community_address_direction_fourth_value,
      </if>
      <if test="communityArea != null" >
        community_area,
      </if>
      <if test="communityCoverArea != null" >
        community_cover_area,
      </if>
      <if test="communityNoCoverArea != null" >
        community_no_cover_area,
      </if>
      <if test="communityVerticalArea != null" >
        community_vertical_area,
      </if>
      <if test="communityShopsArea != null" >
        community_shops_area,
      </if>
      <if test="communityHouseArea != null" >
        community_house_area,
      </if>
      <if test="communityBuildingArea != null" >
        community_building_area,
      </if>
      <if test="communityRoadArea != null" >
        community_road_area,
      </if>
      <if test="communityGreenarea != null" >
        community_greenarea,
      </if>
      <if test="communityCommonArea != null" >
        community_common_area,
      </if>
      <if test="communityGarageArea != null" >
        community_garage_area,
      </if>
      <if test="communityGarageCount != null" >
        community_garage_count,
      </if>
      <if test="communityRoomCount != null" >
        community_room_count,
      </if>
      <if test="communityShopsCount != null" >
        community_shops_count,
      </if>
      <if test="communityManagementType != null" >
        community_management_type,
      </if>
      <if test="communityContacts != null" >
        community_contacts,
      </if>
      <if test="communityContactsPhone != null" >
        community_contacts_phone,
      </if>
      <if test="communityRemark != null" >
        community_remark,
      </if>
      <if test="communityDeleted != null" >
        community_deleted,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="communityId != null" >
        #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="communityNo != null" >
        #{communityNo,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="communityLocX != null" >
        #{communityLocX,jdbcType=DECIMAL},
      </if>
      <if test="communityLocY != null" >
        #{communityLocY,jdbcType=DECIMAL},
      </if>
      <if test="communityAddress != null" >
        #{communityAddress,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFirstTips != null" >
        #{communityAddressDirectionFirstTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFirstValue != null" >
        #{communityAddressDirectionFirstValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionSecondTips != null" >
        #{communityAddressDirectionSecondTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionSecondValue != null" >
        #{communityAddressDirectionSecondValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionThirdTips != null" >
        #{communityAddressDirectionThirdTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionThirdValue != null" >
        #{communityAddressDirectionThirdValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFourthTips != null" >
        #{communityAddressDirectionFourthTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFourthValue != null" >
        #{communityAddressDirectionFourthValue,jdbcType=VARCHAR},
      </if>
      <if test="communityArea != null" >
        #{communityArea,jdbcType=DECIMAL},
      </if>
      <if test="communityCoverArea != null" >
        #{communityCoverArea,jdbcType=DECIMAL},
      </if>
      <if test="communityNoCoverArea != null" >
        #{communityNoCoverArea,jdbcType=DECIMAL},
      </if>
      <if test="communityVerticalArea != null" >
        #{communityVerticalArea,jdbcType=DECIMAL},
      </if>
      <if test="communityShopsArea != null" >
        #{communityShopsArea,jdbcType=DECIMAL},
      </if>
      <if test="communityHouseArea != null" >
        #{communityHouseArea,jdbcType=DECIMAL},
      </if>
      <if test="communityBuildingArea != null" >
        #{communityBuildingArea,jdbcType=DECIMAL},
      </if>
      <if test="communityRoadArea != null" >
        #{communityRoadArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGreenarea != null" >
        #{communityGreenarea,jdbcType=DECIMAL},
      </if>
      <if test="communityCommonArea != null" >
        #{communityCommonArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGarageArea != null" >
        #{communityGarageArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGarageCount != null" >
        #{communityGarageCount,jdbcType=INTEGER},
      </if>
      <if test="communityRoomCount != null" >
        #{communityRoomCount,jdbcType=INTEGER},
      </if>
      <if test="communityShopsCount != null" >
        #{communityShopsCount,jdbcType=INTEGER},
      </if>
      <if test="communityManagementType != null" >
        #{communityManagementType,jdbcType=TINYINT},
      </if>
      <if test="communityContacts != null" >
        #{communityContacts,jdbcType=VARCHAR},
      </if>
      <if test="communityContactsPhone != null" >
        #{communityContactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="communityRemark != null" >
        #{communityRemark,jdbcType=VARCHAR},
      </if>
      <if test="communityDeleted != null" >
        #{communityDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.dal.model.Community" >
    update community
    <set >
      <if test="communityNo != null" >
        community_no = #{communityNo,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null" >
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="communityLocX != null" >
        community_loc_x = #{communityLocX,jdbcType=DECIMAL},
      </if>
      <if test="communityLocY != null" >
        community_loc_y = #{communityLocY,jdbcType=DECIMAL},
      </if>
      <if test="communityAddress != null" >
        community_address = #{communityAddress,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFirstTips != null" >
        community_address_direction_first_tips = #{communityAddressDirectionFirstTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFirstValue != null" >
        community_address_direction_first_value = #{communityAddressDirectionFirstValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionSecondTips != null" >
        community_address_direction_second_tips = #{communityAddressDirectionSecondTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionSecondValue != null" >
        community_address_direction_second_value = #{communityAddressDirectionSecondValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionThirdTips != null" >
        community_address_direction_third_tips = #{communityAddressDirectionThirdTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionThirdValue != null" >
        community_address_direction_third_value = #{communityAddressDirectionThirdValue,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFourthTips != null" >
        community_address_direction_fourth_tips = #{communityAddressDirectionFourthTips,jdbcType=VARCHAR},
      </if>
      <if test="communityAddressDirectionFourthValue != null" >
        community_address_direction_fourth_value = #{communityAddressDirectionFourthValue,jdbcType=VARCHAR},
      </if>
      <if test="communityArea != null" >
        community_area = #{communityArea,jdbcType=DECIMAL},
      </if>
      <if test="communityCoverArea != null" >
        community_cover_area = #{communityCoverArea,jdbcType=DECIMAL},
      </if>
      <if test="communityNoCoverArea != null" >
        community_no_cover_area = #{communityNoCoverArea,jdbcType=DECIMAL},
      </if>
      <if test="communityVerticalArea != null" >
        community_vertical_area = #{communityVerticalArea,jdbcType=DECIMAL},
      </if>
      <if test="communityShopsArea != null" >
        community_shops_area = #{communityShopsArea,jdbcType=DECIMAL},
      </if>
      <if test="communityHouseArea != null" >
        community_house_area = #{communityHouseArea,jdbcType=DECIMAL},
      </if>
      <if test="communityBuildingArea != null" >
        community_building_area = #{communityBuildingArea,jdbcType=DECIMAL},
      </if>
      <if test="communityRoadArea != null" >
        community_road_area = #{communityRoadArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGreenarea != null" >
        community_greenarea = #{communityGreenarea,jdbcType=DECIMAL},
      </if>
      <if test="communityCommonArea != null" >
        community_common_area = #{communityCommonArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGarageArea != null" >
        community_garage_area = #{communityGarageArea,jdbcType=DECIMAL},
      </if>
      <if test="communityGarageCount != null" >
        community_garage_count = #{communityGarageCount,jdbcType=INTEGER},
      </if>
      <if test="communityRoomCount != null" >
        community_room_count = #{communityRoomCount,jdbcType=INTEGER},
      </if>
      <if test="communityShopsCount != null" >
        community_shops_count = #{communityShopsCount,jdbcType=INTEGER},
      </if>
      <if test="communityManagementType != null" >
        community_management_type = #{communityManagementType,jdbcType=TINYINT},
      </if>
      <if test="communityContacts != null" >
        community_contacts = #{communityContacts,jdbcType=VARCHAR},
      </if>
      <if test="communityContactsPhone != null" >
        community_contacts_phone = #{communityContactsPhone,jdbcType=VARCHAR},
      </if>
      <if test="communityRemark != null" >
        community_remark = #{communityRemark,jdbcType=VARCHAR},
      </if>
      <if test="communityDeleted != null" >
        community_deleted = #{communityDeleted,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where community_id = #{communityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.dal.model.Community" >
    update community
    set community_no = #{communityNo,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      community_loc_x = #{communityLocX,jdbcType=DECIMAL},
      community_loc_y = #{communityLocY,jdbcType=DECIMAL},
      community_address = #{communityAddress,jdbcType=VARCHAR},
      community_address_direction_first_tips = #{communityAddressDirectionFirstTips,jdbcType=VARCHAR},
      community_address_direction_first_value = #{communityAddressDirectionFirstValue,jdbcType=VARCHAR},
      community_address_direction_second_tips = #{communityAddressDirectionSecondTips,jdbcType=VARCHAR},
      community_address_direction_second_value = #{communityAddressDirectionSecondValue,jdbcType=VARCHAR},
      community_address_direction_third_tips = #{communityAddressDirectionThirdTips,jdbcType=VARCHAR},
      community_address_direction_third_value = #{communityAddressDirectionThirdValue,jdbcType=VARCHAR},
      community_address_direction_fourth_tips = #{communityAddressDirectionFourthTips,jdbcType=VARCHAR},
      community_address_direction_fourth_value = #{communityAddressDirectionFourthValue,jdbcType=VARCHAR},
      community_area = #{communityArea,jdbcType=DECIMAL},
      community_cover_area = #{communityCoverArea,jdbcType=DECIMAL},
      community_no_cover_area = #{communityNoCoverArea,jdbcType=DECIMAL},
      community_vertical_area = #{communityVerticalArea,jdbcType=DECIMAL},
      community_shops_area = #{communityShopsArea,jdbcType=DECIMAL},
      community_house_area = #{communityHouseArea,jdbcType=DECIMAL},
      community_building_area = #{communityBuildingArea,jdbcType=DECIMAL},
      community_road_area = #{communityRoadArea,jdbcType=DECIMAL},
      community_greenarea = #{communityGreenarea,jdbcType=DECIMAL},
      community_common_area = #{communityCommonArea,jdbcType=DECIMAL},
      community_garage_area = #{communityGarageArea,jdbcType=DECIMAL},
      community_garage_count = #{communityGarageCount,jdbcType=INTEGER},
      community_room_count = #{communityRoomCount,jdbcType=INTEGER},
      community_shops_count = #{communityShopsCount,jdbcType=INTEGER},
      community_management_type = #{communityManagementType,jdbcType=TINYINT},
      community_contacts = #{communityContacts,jdbcType=VARCHAR},
      community_contacts_phone = #{communityContactsPhone,jdbcType=VARCHAR},
      community_remark = #{communityRemark,jdbcType=VARCHAR},
      community_deleted = #{communityDeleted,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where community_id = #{communityId,jdbcType=VARCHAR}
  </update>
  <select id="list" resultMap="BaseResultMap" parameterType="com.simon.dal.vo.BaseQueryParam" >
    select
    <include refid="Base_Column_List" />
    from community
    <where>
      <if test="keyword!=null and keyword!=''">
        CONCAT(IFNULL(community_name,'')) LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
    order by create_time desc
  </select>

  <select id="selfList" resultType="com.simon.dal.model.UserWithCommunity"  parameterType="com.simon.dal.vo.BaseQueryParam" >
    select
      c.community_id as communityId,c.community_name as communityName,uc.user_id as userId
    from community c inner join user_community uc on c.community_id=uc.community_id
    <where>
      <if test="keyword!=null and keyword!=''">
        CONCAT(IFNULL(c.community_name,'')) LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="userId!=null and userId!=''">
        uc.user_id=#{userId}
      </if>
    </where>
  </select>
</mapper>