<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.permit.dao.RoleJnMapper" >
  <resultMap id="BaseResultMap" type="com.simon.permit.model.RoleJn" >
    <id column="role_jn_id" property="roleJnId" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="jn_id" property="jnId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_jn_id, role_id, jn_id, create_time, update_time
  </sql>

  <resultMap id="BaseResultWithJn" type="com.simon.permit.model.RoleJn" extends="BaseResultMap" >
    <result column="isHad" property="isHad" jdbcType="BIGINT" />
    <association property="jurisdiction" javaType="com.simon.permit.model.Jurisdiction" >
      <id column="jn_id" property="jnId" jdbcType="BIGINT" />
      <result column="jn_name" property="jnName" jdbcType="VARCHAR" />
      <result column="jn_url" property="jnUrl" jdbcType="VARCHAR" />
    </association>
  </resultMap>

  <sql id="Base_Column_WithJn" >
    j.jn_id,j.jn_name,j.jn_url,
    rj.role_jn_id, rj.role_id, rj.jn_id, rj.create_time, rj.update_time,IFNULL(rj.role_jn_id,FALSE) AS isHad
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from role_jn
    where role_jn_id = #{roleJnId,jdbcType=BIGINT}
  </select>

  <select id="selectByRoleId" resultMap="BaseResultWithJn" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_WithJn" />
    FROM jurisdiction j LEFT JOIN role_jn rj ON rj.jn_id=j.jn_id
    AND rj.role_id =#{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role_jn
    where role_jn_id = #{roleJnId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPrimaryRoleId" parameterType="java.lang.Long" >
    delete from role_jn
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.simon.permit.model.RoleJn" >
    insert into role_jn (role_jn_id, role_id, jn_id, 
      create_time, update_time)
    values (#{roleJnId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{jnId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.simon.permit.model.RoleJn" useGeneratedKeys="true" keyProperty="roleJnId">
    insert into role_jn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleJnId != null" >
        role_jn_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="jnId != null" >
        jn_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleJnId != null" >
        #{roleJnId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="jnId != null" >
        #{jnId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.permit.model.RoleJn" >
    update role_jn
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="jnId != null" >
        jn_id = #{jnId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_jn_id = #{roleJnId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.permit.model.RoleJn" >
    update role_jn
    set role_id = #{roleId,jdbcType=BIGINT},
      jn_id = #{jnId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where role_jn_id = #{roleJnId,jdbcType=BIGINT}
  </update>
</mapper>