<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.app.dao.BuildingMapper" >
  <resultMap id="BaseResultMap" type="com.simon.app.model.vo.Building" >
    <id column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
    <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    b.building_id,  b.building_name, b.building_no
  </sql>

  <select id="selectByCondition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_community uc inner join building b on uc.community_id=b.community_id
    <where>
      <if test="communityId!=null">
         b.community_id = #{communityId,jdbcType=VARCHAR}
      </if>
      <if test="userId!=null">
         uc.user_id = #{userId,jdbcType=VARCHAR}
      </if>
    </where>
    order by b.create_time desc
  </select>

</mapper>