<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.backstage.dao.AssetMapper" >
  <resultMap id="BaseResultMap" type="com.simon.backstage.domain.model.Asset" >
    <id column="asset_id" property="assetId" jdbcType="VARCHAR" />
    <result column="community_id" property="communityId" jdbcType="VARCHAR" />
    <result column="asset_no" property="assetNo" jdbcType="VARCHAR" />
    <result column="asset_type" property="assetType" jdbcType="VARCHAR" />
    <result column="asset_name" property="assetName" jdbcType="VARCHAR" />
    <result column="asset_traditional_name" property="assetTraditionalName" jdbcType="VARCHAR" />
    <result column="asset_english_name" property="assetEnglishName" jdbcType="VARCHAR" />
    <result column="asset_position" property="assetPosition" jdbcType="VARCHAR" />
    <result column="asset_traditional_position" property="assetTraditionalPosition" jdbcType="VARCHAR" />
    <result column="asset_english_position" property="assetEnglishPosition" jdbcType="VARCHAR" />
    <result column="asset_maintain" property="assetMaintain" jdbcType="BIT" />
    <result column="asset_maintain_remind_cycle" property="assetMaintainRemindCycle" jdbcType="INTEGER" />
    <result column="asset_status" property="assetStatus" jdbcType="INTEGER" />
    <result column="asset_describe" property="assetDescribe" jdbcType="LONGVARCHAR" />
    <result column="asset_traditional_describe" property="assetTraditionalDescribe" jdbcType="LONGVARCHAR" />
    <result column="asset_english_describe" property="assetEnglishDescribe" jdbcType="LONGVARCHAR" />
    <result column="asset_buy_date" property="assetBuyDate" jdbcType="TIMESTAMP" />
    <result column="asset_overdue_date" property="assetOverdueDate" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <association property="community" javaType="com.simon.backstage.domain.vo.Community">
      <id column="community_id" property="communityId" jdbcType="VARCHAR" />
      <result column="community_no" property="communityNo" jdbcType="VARCHAR" />
      <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    </association>
    <collection property="assetImage" ofType="com.simon.dal.model.Images" javaType="java.util.List" select="selectImages" column="asset_id">
    </collection>
  </resultMap>

  <resultMap id="Image_Result_Map" type="com.simon.dal.model.Images" >
    <id column="image_id" property="imageId" jdbcType="VARCHAR"/>
    <result column="object_id" property="objectId" jdbcType="VARCHAR"/>
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
    <result column="image_thumbnail" property="imageThumbnail" jdbcType="VARCHAR"/>
    <result column="image_type" property="imageType" jdbcType="INTEGER"/>
    <result column="img_create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="img_update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    a.asset_id, a.community_id, a.asset_no, a.asset_type, a.asset_name, a.asset_traditional_name, a.asset_english_name,
    a.asset_position, a.asset_traditional_position, a.asset_english_position,a.asset_maintain,a.asset_maintain_remind_cycle,a.asset_status, a.asset_buy_date,a.asset_overdue_date,a.create_time,
    a.update_time,a.asset_describe, a.asset_traditional_describe, a.asset_english_describe,
    c.community_id,c.community_no,c.community_name
  </sql>

  <select id="selectImages" parameterType="string" resultMap="Image_Result_Map" >
    select img.image_id, img.image_url, img.image_thumbnail, img.object_id, img.image_type, img.create_time as img_create_time, img.update_time as img_update_time
    from images img
    where img.object_id=#{assetId} and img.image_type=3
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from asset a inner join community c on a.community_id=c.community_id
    where a.asset_id = #{assetId,jdbcType=VARCHAR}
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.simon.dal.vo.BaseQueryParam" >
    select
    <include refid="Base_Column_List" />
    from asset a inner join community c on a.community_id=c.community_id
    <where>
      <if test="keyword!=null and keyword!=''">
        CONCAT(IFNULL(a.asset_no,''),IFNULL(a.asset_name,'')) LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="communityId != null">
      	AND a.community_id = #{communityId,jdbcType=VARCHAR}
      </if>
      <if test="assetMaintainRemindCycle != null">
      	AND a.asset_maintain_remind_cycle = #{assetMaintainRemindCycle,jdbcType=VARCHAR}
      </if>
      <if test="assetOverdueDate != null">
      	AND  DATE_FORMAT(#{assetOverdueDate,jdbcType=VARCHAR},'%Y%m%d') = DATE_FORMAT(asset_overdue_date,'%Y%m%d')
      </if>
      <if test="assetStatus != null">
      	AND a.asset_status = #{assetStatus,jdbcType=VARCHAR}
      </if>
    </where>
    order by a.create_time desc
  </select>
  <select id="findAllRemindList" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from asset a inner join community c on a.community_id=c.community_id
    where a.asset_maintain=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from asset
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simon.backstage.domain.model.Asset" >
    insert into asset (asset_id, community_id,asset_no, asset_type,
      asset_name, asset_traditional_name, asset_english_name, 
      asset_position, asset_traditional_position, 
      asset_english_position,asset_maintain, asset_maintain_remind_cycle,asset_status, asset_buy_date,asset_overdue_date,create_time, update_time,
      asset_describe, asset_traditional_describe, 
      asset_english_describe)
    values (#{assetId,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR},#{assetNo,jdbcType=VARCHAR}, #{assetType,jdbcType=VARCHAR},
      #{assetName,jdbcType=VARCHAR}, #{assetTraditionalName,jdbcType=VARCHAR}, #{assetEnglishName,jdbcType=VARCHAR}, 
      #{assetPosition,jdbcType=VARCHAR}, #{assetTraditionalPosition,jdbcType=VARCHAR}, 
      #{assetEnglishPosition,jdbcType=VARCHAR},#{assetMaintain,jdbcType=BIT},#{assetMaintainRemindCycle,jdbcType=INTEGER},#{assetStatus,jdbcType=INTEGER}, #{assetBuyDate,jdbcType=TIMESTAMP},#{assetOverdueDate,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{assetDescribe,jdbcType=LONGVARCHAR}, #{assetTraditionalDescribe,jdbcType=LONGVARCHAR}, 
      #{assetEnglishDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simon.backstage.domain.model.Asset" >
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        asset_id,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="assetNo != null" >
        asset_no,
      </if>
      <if test="assetType != null" >
        asset_type,
      </if>
      <if test="assetName != null" >
        asset_name,
      </if>
      <if test="assetTraditionalName != null" >
        asset_traditional_name,
      </if>
      <if test="assetEnglishName != null" >
        asset_english_name,
      </if>
      <if test="assetPosition != null" >
        asset_position,
      </if>
      <if test="assetTraditionalPosition != null" >
        asset_traditional_position,
      </if>
      <if test="assetEnglishPosition != null" >
        asset_english_position,
      </if>
      <if test="assetMaintain != null" >
        asset_maintain,
      </if>
      <if test="assetMaintainRemindCycle != null" >
        asset_maintain_remind_cycle,
      </if>
      <if test="assetStatus != null" >
        asset_status,
      </if>
      <if test="assetBuyDate != null" >
        asset_buy_date,
      </if>
      <if test="assetOverdueDate != null" >
        asset_overdue_date,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="assetDescribe != null" >
        asset_describe,
      </if>
      <if test="assetTraditionalDescribe != null" >
        asset_traditional_describe,
      </if>
      <if test="assetEnglishDescribe != null" >
        asset_english_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assetId != null" >
        #{assetId,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null" >
        #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null" >
        #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetTraditionalName != null" >
        #{assetTraditionalName,jdbcType=VARCHAR},
      </if>
      <if test="assetEnglishName != null" >
        #{assetEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="assetPosition != null" >
        #{assetPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetTraditionalPosition != null" >
        #{assetTraditionalPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetEnglishPosition != null" >
        #{assetEnglishPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetMaintain != null" >
        #{assetMaintain,jdbcType=BIT},
      </if>
      <if test="assetMaintainRemindCycle != null" >
        #{assetMaintainRemindCycle,jdbcType=INTEGER},
      </if>
      <if test="assetStatus != null" >
        #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetBuyDate != null" >
        #{assetBuyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetOverdueDate != null" >
        #{assetOverdueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assetDescribe != null" >
        #{assetDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="assetTraditionalDescribe != null" >
        #{assetTraditionalDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="assetEnglishDescribe != null" >
        #{assetEnglishDescribe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.backstage.domain.model.Asset" >
    update asset
    <set >
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="assetNo != null" >
        asset_no = #{assetNo,jdbcType=VARCHAR},
      </if>
      <if test="assetType != null" >
        asset_type = #{assetType,jdbcType=VARCHAR},
      </if>
      <if test="assetName != null" >
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="assetTraditionalName != null" >
        asset_traditional_name = #{assetTraditionalName,jdbcType=VARCHAR},
      </if>
      <if test="assetEnglishName != null" >
        asset_english_name = #{assetEnglishName,jdbcType=VARCHAR},
      </if>
      <if test="assetPosition != null" >
        asset_position = #{assetPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetTraditionalPosition != null" >
        asset_traditional_position = #{assetTraditionalPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetEnglishPosition != null" >
        asset_english_position = #{assetEnglishPosition,jdbcType=VARCHAR},
      </if>
      <if test="assetMaintain != null" >
        asset_maintain = #{assetMaintain,jdbcType=BIT},
      </if>
      <if test="assetMaintainRemindCycle != null" >
        asset_maintain_remind_cycle = #{assetMaintainRemindCycle,jdbcType=INTEGER},
      </if>
      <if test="assetStatus != null" >
        asset_status = #{assetStatus,jdbcType=INTEGER},
      </if>
      <if test="assetBuyDate != null" >
        asset_buy_date = #{assetBuyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="assetOverdueDate != null" >
        asset_overdue_date = #{assetOverdueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assetDescribe != null" >
        asset_describe = #{assetDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="assetTraditionalDescribe != null" >
        asset_traditional_describe = #{assetTraditionalDescribe,jdbcType=LONGVARCHAR},
      </if>
      <if test="assetEnglishDescribe != null" >
        asset_english_describe = #{assetEnglishDescribe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.simon.backstage.domain.model.Asset" >
    update asset
    set
      community_id = #{communityId,jdbcType=VARCHAR},
      asset_no = #{assetNo,jdbcType=VARCHAR},
      asset_type = #{assetType,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      asset_traditional_name = #{assetTraditionalName,jdbcType=VARCHAR},
      asset_english_name = #{assetEnglishName,jdbcType=VARCHAR},
      asset_position = #{assetPosition,jdbcType=VARCHAR},
      asset_traditional_position = #{assetTraditionalPosition,jdbcType=VARCHAR},
      asset_english_position = #{assetEnglishPosition,jdbcType=VARCHAR},
      asset_maintain = #{assetMaintain,jdbcType=BIT},
      asset_maintain_remind_cycle = #{assetMaintainRemindCycle,jdbcType=INTEGER},
      asset_status = #{assetStatus,jdbcType=INTEGER},
      asset_buy_date = #{assetBuyDate,jdbcType=TIMESTAMP},
      asset_overdue_date = #{assetOverdueDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      asset_describe = #{assetDescribe,jdbcType=LONGVARCHAR},
      asset_traditional_describe = #{assetTraditionalDescribe,jdbcType=LONGVARCHAR},
      asset_english_describe = #{assetEnglishDescribe,jdbcType=LONGVARCHAR}
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.backstage.domain.model.Asset" >
    update asset
    set
      community_id = #{communityId,jdbcType=VARCHAR},
      asset_no = #{assetNo,jdbcType=VARCHAR},
      asset_type = #{assetType,jdbcType=VARCHAR},
      asset_name = #{assetName,jdbcType=VARCHAR},
      asset_traditional_name = #{assetTraditionalName,jdbcType=VARCHAR},
      asset_english_name = #{assetEnglishName,jdbcType=VARCHAR},
      asset_position = #{assetPosition,jdbcType=VARCHAR},
      asset_traditional_position = #{assetTraditionalPosition,jdbcType=VARCHAR},
      asset_english_position = #{assetEnglishPosition,jdbcType=VARCHAR},
      asset_maintain = #{assetMaintain,jdbcType=BIT},
      asset_maintain_remind_cycle = #{assetMaintainRemindCycle,jdbcType=INTEGER},
      asset_status = #{assetStatus,jdbcType=INTEGER},
      asset_buy_date = #{assetBuyDate,jdbcType=TIMESTAMP},
      asset_overdue_date = #{assetOverdueDate,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where asset_id = #{assetId,jdbcType=VARCHAR}
  </update>
</mapper>