<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.backstage.dao.ManagerMapper" >
  <resultMap id="BaseResultMap" type="com.simon.backstage.domain.model.Manager" >
    <id column="manager_id" property="managerId" jdbcType="VARCHAR" />
    <result column="community_id" property="communityId" jdbcType="VARCHAR" />
    <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    manager_id, community_id, NAME, sex,type, email, username, PASSWORD, create_time, update_time
  </sql>
  <select id="findManagerAndRole" resultType="java.lang.String" parameterType="java.lang.String">
  	SELECT
      	concat(group_concat(r.role_name),'') AS roleName
  	FROM
	  	user_role ur
		LEFT JOIN role r ON r.role_id = ur.role_id
  	WHERE 
		ur.manager_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="findManager" resultMap="BaseResultMap" parameterType="com.simon.backstage.domain.model.Manager">
  	select
  	<include refid="Base_Column_List"/>
  	from manager
  	<where>
  	  <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=VARCHAR}
      </if>
      <if test="communityId != null" >
        and community_id = #{communityId,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        and NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="sex != null" >
        and sex = #{sex,jdbcType=INTEGER}
      </if>
      <if test="type != null" >
        and type = #{type,jdbcType=INTEGER}
      </if>
      <if test="email != null" >
        and email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="username != null" >
        and username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="password != null" >
        and PASSWORD = #{password,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
  	</where>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from manager
    where manager_id = #{managerId,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.simon.dal.vo.BaseQueryParam" >
    select
    m.community_id, manager_id, community_name, NAME, sex,type, 
    	email, username, PASSWORD, m.create_time, m.update_time
    from manager m
    INNER JOIN community c ON m.community_id=c.community_id
    <where>
      <if test="keyword!=null and keyword!=''">
        CONCAT(IFNULL(NAME,''),IFNULL(username,''),IFNULL(email,'')) LIKE CONCAT('%', #{keyword}, '%')
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from manager
    where manager_id = #{managerId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simon.backstage.domain.model.Manager" >
    insert into manager (manager_id, community_id, NAME, 
      sex,type, email, username,
      PASSWORD, create_time, update_time
      )
    values (#{managerId,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER},#{type,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simon.backstage.domain.model.Manager" >
    insert into manager
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="managerId != null" >
        #{managerId,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.backstage.domain.model.Manager" >
    update manager
    <set >
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where manager_id = #{managerId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.backstage.domain.model.Manager" >
    update manager
    set community_id = #{communityId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where manager_id = #{managerId,jdbcType=VARCHAR}
  </update>

  <select id="findCustomRolesAuthorization" resultType="map">
    SELECT
    j.jn_url AS url,
    concat(group_concat(r.role_name),'') AS roleName
    FROM role r
    LEFT JOIN role_jn rj ON r.role_id=rj.role_id
    LEFT JOIN jurisdiction j ON rj.jn_id=j.jn_id
    GROUP BY  j.jn_url
  </select>
  <select id="findAllJurisdiction" resultType="string">
    SELECT
    jn_url AS url
    FROM jurisdiction
  </select>
  <insert id="addJurisdiction" keyProperty="jnId" useGeneratedKeys="true">
    INSERT INTO jurisdiction (jn_name,jn_url) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.jnName},#{item.jnUrl}
      )
    </foreach>
  </insert>
  <insert id="addAdminRoleJn">
    INSERT INTO role_jn (role_id,jn_id) VALUES
    <foreach collection="list" item="item" separator=",">
      (
        #{item.roleId},#{item.jnId}
      )
    </foreach>
  </insert>

  <insert id="initRole">
    INSERT INTO `role` (`role_name`, `role_description`, `role_default`) VALUES('manager','管理员',1),('admin','超级管理员',1);
  </insert>

  <select id="findAdminRole" resultType="long">
    SELECT
    role_id
    FROM role
    where role_name=#{roleName}
  </select>

  <insert id="addUserRole">
    INSERT INTO user_role (role_id,manager_id) VALUES
    <foreach collection="list" item="item" separator=",">
    (
      #{item.roleId},#{item.userId}
    )
  </foreach>
  </insert>
</mapper>