<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.backstage.dao.UnitMapper" >
  <resultMap id="BaseResultMap" type="com.simon.backstage.domain.model.Unit" >
    <id column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="building_id" property="buildingId" jdbcType="VARCHAR" />
    <result column="child_id" property="childId" jdbcType="VARCHAR" />
    <result column="community_id" property="communityId" jdbcType="VARCHAR" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="unit_no" property="unitNo" jdbcType="VARCHAR" />
    <result column="unit_covered_area" property="unitCoveredArea" jdbcType="DECIMAL" />
    <result column="unit_relative_proportion" property="unitRelativeProportion" jdbcType="DECIMAL" />
    <result column="unit_child_relative_proportion" property="unitChildRelativeProportion" jdbcType="DECIMAL" />
    <result column="unit_purpose" property="unitPurpose" jdbcType="VARCHAR" />
    <result column="unit_position" property="unitPosition" jdbcType="VARCHAR" />
    <result column="unit_type" property="unitType" jdbcType="INTEGER" />
    <result column="unit_full_address" property="unitFullAddress" jdbcType="VARCHAR" />
    <result column="unit_status" property="unitStatus" jdbcType="INTEGER" />
    <result column="unit_title" property="unitTitle" jdbcType="INTEGER" />
    <result column="owner" property="owner" jdbcType="BIT" />
    <result column="ownerId" property="ownerId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <association property="community" javaType="com.simon.backstage.domain.vo.Community">
      <id column="community_id" property="communityId" jdbcType="VARCHAR" />
      <result column="community_no" property="communityNo" jdbcType="VARCHAR" />
      <result column="community_name" property="communityName" jdbcType="VARCHAR" />
    </association>
    <association property="building" javaType="com.simon.backstage.domain.model.Building">
      <id column="building_id" property="buildingId" jdbcType="VARCHAR" />
      <result column="building_name" property="buildingName" jdbcType="VARCHAR" />
      <result column="building_no" property="buildingNo" jdbcType="VARCHAR" />
    </association>

  </resultMap>
  <sql id="Base_Column_List" >
    u.unit_id, u.building_id,u.child_id,u.community_id, u.unit_name, u.unit_no, u.unit_covered_area, u.unit_relative_proportion,
    u.unit_child_relative_proportion, u.unit_purpose, u.unit_position, u.unit_type, u.unit_full_address,
    u.unit_status,u.unit_title, u.create_time, u.update_time,uu2.owner,uu2.user_id as ownerId,
    c.community_id,c.community_no,c.community_name,
    b.building_id, b.building_name, b.building_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from unit u
    inner join building b on b.building_id=u.building_id
    inner join community c on c.community_id=b.community_id
    left join user_unit uu2 on u.unit_id=uu2.unit_id and uu2.owner=1 and uu2.convincing=1
    where u.unit_id = #{unitId,jdbcType=VARCHAR}
  </select>
  <select id="selectByUnitNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from unit u
    inner join building b on b.building_id=u.building_id
    inner join community c on c.community_id=b.community_id
    left join user_unit uu2 on u.unit_id=uu2.unit_id and uu2.owner=1 and uu2.convincing=1
    where u.unit_no = #{unitNo,jdbcType=VARCHAR} and u.community_id = #{communityId,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.simon.dal.vo.BaseQueryParam" >
    SELECT
    <include refid="Base_Column_List" />
    from unit u
    inner join building b on b.building_id=u.building_id
    inner join community c on c.community_id=b.community_id
    <if test="userId != null">
      inner join user_unit uu on uu.unit_id=u.unit_id inner join `user` u2 on uu.user_id=u2.user_id
    </if>
    left join user_unit uu2 on u.unit_id=uu2.unit_id and uu2.owner=1 and uu2.convincing=1
    <where>
      <if test="keyword!=null and keyword!=''">
        CONCAT(IFNULL(u.unit_name,''),IFNULL(b.building_name,'')) LIKE CONCAT('%', #{keyword}, '%')
      </if>
      <if test="communityId != null and communityId != ''">
        and c.community_id in (
        <foreach collection="communityId.split(',')" item="item" index="index" separator=",">
          #{item}
        </foreach>
        )
      </if>
      <if test="buildingId != null">
      	AND b.building_id = #{buildingId, jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
      	AND u2.user_id = #{userId, jdbcType=VARCHAR}
      </if>
      <if test="unitType != null">
      	AND u.unit_type = #{unitType, jdbcType=INTEGER}
      </if>
    </where>
    order by b.create_time desc
  </select>
  <select id="getUnitByUserId" resultMap="BaseResultMap">
    select u.unit_id, u.building_id,u.child_id,u.community_id, u.unit_name, u.unit_no, u.unit_covered_area, u.unit_relative_proportion,
    u.unit_child_relative_proportion, u.unit_purpose, u.unit_position, u.unit_type, u.unit_full_address,
    u.unit_status,u.unit_title, u.create_time, u.update_time from unit u inner join user_unit uu on u.unit_id = uu.unit_id
    where uu.user_id=#{userId} order by
	`owner` desc,convincing desc;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from unit
    where unit_id = #{unitId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.simon.backstage.domain.model.Unit" >
    insert into unit (unit_id, building_id,child_id,community_id, unit_name,
      unit_no, unit_covered_area, unit_relative_proportion, 
      unit_child_relative_proportion, unit_purpose, 
      unit_position, unit_type, unit_full_address, 
      unit_status,unit_title, create_time, update_time
      )
    values (#{unitId,jdbcType=VARCHAR}, #{buildingId,jdbcType=VARCHAR},#{childId,jdbcType=VARCHAR},#{communityId,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR},
      #{unitNo,jdbcType=VARCHAR}, #{unitCoveredArea,jdbcType=DECIMAL}, #{unitRelativeProportion,jdbcType=DECIMAL}, 
      #{unitChildRelativeProportion,jdbcType=DECIMAL}, #{unitPurpose,jdbcType=VARCHAR}, 
      #{unitPosition,jdbcType=VARCHAR}, #{unitType,jdbcType=INTEGER}, #{unitFullAddress,jdbcType=VARCHAR}, 
      #{unitStatus,jdbcType=INTEGER},#{unitTitle,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.simon.backstage.domain.model.Unit" >
    insert into unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="childId != null" >
        child_id,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="unitName != null" >
        unit_name,
      </if>
      <if test="unitNo != null" >
        unit_no,
      </if>
      <if test="unitCoveredArea != null" >
        unit_covered_area,
      </if>
      <if test="unitRelativeProportion != null" >
        unit_relative_proportion,
      </if>
      <if test="unitChildRelativeProportion != null" >
        unit_child_relative_proportion,
      </if>
      <if test="unitPurpose != null" >
        unit_purpose,
      </if>
      <if test="unitPosition != null" >
        unit_position,
      </if>
      <if test="unitType != null" >
        unit_type,
      </if>
      <if test="unitFullAddress != null" >
        unit_full_address,
      </if>
      <if test="unitStatus != null" >
        unit_status,
      </if>
      <if test="unitTitle != null" >
        unit_title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null" >
        #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="childId != null" >
        #{childId,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        #{unitNo,jdbcType=VARCHAR},
      </if>
      <if test="unitCoveredArea != null" >
        #{unitCoveredArea,jdbcType=DECIMAL},
      </if>
      <if test="unitRelativeProportion != null" >
        #{unitRelativeProportion,jdbcType=DECIMAL},
      </if>
      <if test="unitChildRelativeProportion != null" >
        #{unitChildRelativeProportion,jdbcType=DECIMAL},
      </if>
      <if test="unitPurpose != null" >
        #{unitPurpose,jdbcType=VARCHAR},
      </if>
      <if test="unitPosition != null" >
        #{unitPosition,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        #{unitType,jdbcType=INTEGER},
      </if>
      <if test="unitFullAddress != null" >
        #{unitFullAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitStatus != null" >
        #{unitStatus,jdbcType=INTEGER},
      </if>
      <if test="unitTitle != null" >
        #{unitTitle,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.backstage.domain.model.Unit" >
    update unit
    <set >
      <if test="buildingId != null" >
        building_id = #{buildingId,jdbcType=VARCHAR},
      </if>
      <if test="childId != null" >
        child_id = #{childId,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitNo != null" >
        unit_no = #{unitNo,jdbcType=VARCHAR},
      </if>
      <if test="unitCoveredArea != null" >
        unit_covered_area = #{unitCoveredArea,jdbcType=DECIMAL},
      </if>
      <if test="unitRelativeProportion != null" >
        unit_relative_proportion = #{unitRelativeProportion,jdbcType=DECIMAL},
      </if>
      <if test="unitChildRelativeProportion != null" >
        unit_child_relative_proportion = #{unitChildRelativeProportion,jdbcType=DECIMAL},
      </if>
      <if test="unitPurpose != null" >
        unit_purpose = #{unitPurpose,jdbcType=VARCHAR},
      </if>
      <if test="unitPosition != null" >
        unit_position = #{unitPosition,jdbcType=VARCHAR},
      </if>
      <if test="unitType != null" >
        unit_type = #{unitType,jdbcType=INTEGER},
      </if>
      <if test="unitFullAddress != null" >
        unit_full_address = #{unitFullAddress,jdbcType=VARCHAR},
      </if>
      <if test="unitStatus != null" >
        unit_status = #{unitStatus,jdbcType=INTEGER},
      </if>
      <if test="unitTitle != null" >
        unit_title = #{unitTitle,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where unit_id = #{unitId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.backstage.domain.model.Unit" >
    update unit
    set building_id = #{buildingId,jdbcType=VARCHAR},
      child_id = #{childId,jdbcType=VARCHAR},
      community_id = #{communityId,jdbcType=VARCHAR},
      unit_name = #{unitName,jdbcType=VARCHAR},
      unit_no = #{unitNo,jdbcType=VARCHAR},
      unit_covered_area = #{unitCoveredArea,jdbcType=DECIMAL},
      unit_relative_proportion = #{unitRelativeProportion,jdbcType=DECIMAL},
      unit_child_relative_proportion = #{unitChildRelativeProportion,jdbcType=DECIMAL},
      unit_purpose = #{unitPurpose,jdbcType=VARCHAR},
      unit_position = #{unitPosition,jdbcType=VARCHAR},
      unit_type = #{unitType,jdbcType=INTEGER},
      unit_full_address = #{unitFullAddress,jdbcType=VARCHAR},
      unit_status = #{unitStatus,jdbcType=INTEGER},
      unit_title = #{unitTitle,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where unit_id = #{unitId,jdbcType=VARCHAR}
  </update>
</mapper>