<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simon.backstage.dao.UserUnitMapper" >
  <resultMap id="BaseResultMap" type="com.simon.backstage.domain.model.UserUnit" >
    <id column="user_unit_id" property="userUnitId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="BIT" />
    <result column="convincing" property="convincing" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_unit_id, user_id, unit_id,owner,convincing,create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_unit
    where user_unit_id = #{userUnitId,jdbcType=BIGINT}
  </select>
  <select id="selectByUnitId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_unit
    where unit_id = #{unitId,jdbcType=VARCHAR} and owner=1 and convincing=1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_unit
    where user_unit_id = #{userUnitId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByUser">
  	delete from user_unit
    <where>
      <if test="userId != null" >
        and user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="unitId != null" >
        and unit_id = #{unitId,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
  <insert id="insert" parameterType="com.simon.backstage.domain.model.UserUnit" >
    insert into user_unit (user_unit_id, user_id, unit_id,owner,convincing,
      create_time, update_time)
    values (#{userUnitId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{unitId,jdbcType=VARCHAR},#{owner,jdbcType=BIT},#{convincing,jdbcType=BIT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="batchAddUser">
    insert into user_unit(user_id, unit_id,owner,convincing) values
    <foreach collection="list" item="item" separator=",">
      (
      #{item.userId},#{item.unitId},#{item.owner},#{item.owner}
      )
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.simon.backstage.domain.model.UserUnit" >
    insert into user_unit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userUnitId != null" >
        user_unit_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="convincing != null" >
        convincing,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userUnitId != null" >
        #{userUnitId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=BIT},
      </if>
      <if test="convincing != null" >
        #{convincing,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simon.backstage.domain.model.UserUnit" >
    update user_unit
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=BIT},
      </if>
      <if test="convincing != null" >
        convincing = #{convincing,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_unit_id = #{userUnitId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simon.backstage.domain.model.UserUnit" >
    update user_unit
    set user_id = #{userId,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=BIT},
      convincing = #{convincing,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where user_unit_id = #{userUnitId,jdbcType=BIGINT}
  </update>

  <resultMap id="UserResultMap" type="com.simon.dal.model.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="community_id" property="communityId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="country_code" property="countryCode" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="marriage_system" property="marriageSystem" jdbcType="VARCHAR" />
    <result column="mate_name" property="mateName" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="unitUserList" resultMap="UserResultMap" parameterType="java.lang.String" >
    select
    u.user_id , u.community_id, u.name, u.english_name, u.sex, u.country_code, u.tel, u.email, u.birthday,
    u.id_card, u.username,  u.portrait, u.marriage_system, u.mate_name, u.deleted, u.create_time,
    u.update_time,uu.owner
    from user_unit uu inner join `user` u on u.user_id=uu.user_id
    where uu.unit_id=#{unitId,jdbcType=VARCHAR}
    order by uu.`owner` desc,uu.convincing desc
  </select>
</mapper>